{% extends "menu.html" %} {% block title %}Cart{% endblock %} {%block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
  {% if message %}
  alert("{{message}}");
  {% endif %}

    $(document).ready(function () {
        $(".inputItemImage").change(function () {
            const file = this.files[0];
            const reader = new FileReader();

            const imagePreview = $(this).siblings("img");
            reader.onload = function (e) {
            imagePreview.attr("src", e.target.result);
            imagePreview.attr("hidden", false);
            };
            reader.readAsDataURL(file);
        });
    });
</script>
<form action="/addFoodItem" method="POST" enctype="multipart/form-data">
  <label for="foodName">Food Name:</label>
  <input type="text" id="foodName" name="foodName" required /><br /><br />

  <label for="foodCategory">Food Category:</label>
  <select name="foodCategory" class="selectItemCategory">
    <option>Japanese Food</option>
    <option>Thai Food</option>
    <option>Fast Food</option>
    <option>Chinese Food</option>
  </select><br />

  <label for="foodPrice">Food Price:</label>
  <input type="number" id="foodPrice" name="foodPrice" required /><br /><br />

  <label for="foodDescription">Food Description:</label>
  <textarea id="foodDescription" name="foodDescription" required></textarea
  ><br /><br />

  <label for="image">Image:</label>
  <img width="300" height="300" hidden/>
  <input type="file" id="image" class="inputItemImage" name="image" /><br /><br />

  <input type="text" id="restaurant" name="restaurant" value="{{id}}" hidden />

  <input type="submit" value="Submit" />
</form>
{% endblock %}
