{% extends "menu.html" %} {% block title %}Restaurant Management{% endblock %}
{%block content %}
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
  crossorigin="anonymous"
/>

<style>
  body {
    font-family: "Arial", sans-serif;
    background-color: #f4f5f7;
  }

  .dashboard-container {
    margin-top: 50px;
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .section-header {
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .sort-icon {
  cursor: pointer;
  color: #6c757d;
  font-size: 1em; /* Adjust size as necessary */
  margin-left: 5px; /* Space between text and icon */
  vertical-align: middle; /* Align icon with text vertically */
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
  function deliveryOrder(orderId, userId, customerID) {
    window.location.href =
      "http://127.0.0.1:5000/deliveryOrder?orderId=" +
      orderId +
      "&userId=" +
      userId;
  }
  function confirmOrder(orderId, userId) {
    window.location.href =
      "http://127.0.0.1:5000/confirmOrder?orderId=" +
      orderId +
      "&userId=" +
      userId;
    alert("Order confirm!");
  }
  function sortAscendingTableName() {
    var table, rows, switching, i, x, y, first, second, shouldSwitch;
    table = document.getElementById("foodTable");
    switching = true;
    /* Make a loop that will continue until
    no switching has been done: */
    while (switching) {
      // Start by saying: no switching is done:
      switching = false;
      rows = table.rows;
      /* Loop through all table rows (except the
      first, which contains table headers): */
      for (i = 1; i < rows.length - 1; i++) {
        // Start by saying there should be no switching:
        shouldSwitch = false;
        /* Get the two elements you want to compare,
        one from current row and one from the next: */
        first = rows[i].getElementsByTagName("TD")[2];
        x = first.querySelector("label").innerText;
        second = rows[i + 1].getElementsByTagName("TD")[2];
        y = second.querySelector("label").innerText;
        // Check if the two rows should switch place:
        if (x.toLowerCase() > y.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
      if (shouldSwitch) {
        /* If a switch has been marked, make the switch
        and mark that a switch has been done: */
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
      }
    }
  }
  function sortDescendingTableName() {
    var table, rows, switching, i, x, y, first, second, shouldSwitch;
    table = document.getElementById("foodTable");
    switching = true;
    /* Make a loop that will continue until
    no switching has been done: */
    while (switching) {
      // Start by saying: no switching is done:
      switching = false;
      rows = table.rows;
      /* Loop through all table rows (except the
      first, which contains table headers): */
      for (i = 1; i < rows.length - 1; i++) {
        // Start by saying there should be no switching:
        shouldSwitch = false;
        /* Get the two elements you want to compare,
        one from current row and one from the next: */
        first = rows[i].getElementsByTagName("TD")[2];
        x = first.querySelector("label").innerText;
        second = rows[i + 1].getElementsByTagName("TD")[2];
        y = second.querySelector("label").innerText;
        // Check if the two rows should switch place:
        if (x.toLowerCase() < y.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
      if (shouldSwitch) {
        /* If a switch has been marked, make the switch
        and mark that a switch has been done: */
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
      }
    }
  }
  function sortAscendingTableCategory() {
    var table, rows, switching, i, x, y, shouldSwitch;
    table = document.getElementById("foodTable");
    switching = true;
    /* Make a loop that will continue until
    no switching has been done: */
    while (switching) {
      // Start by saying: no switching is done:
      switching = false;
      rows = table.rows;
      /* Loop through all table rows (except the
      first, which contains table headers): */
      for (i = 1; i < rows.length - 1; i++) {
        // Start by saying there should be no switching:
        shouldSwitch = false;
        /* Get the two elements you want to compare,
        one from current row and one from the next: */
        first = rows[i].getElementsByTagName("TD")[3];
        x = first.querySelector("label").innerText;
        second = rows[i + 1].getElementsByTagName("TD")[3];
        y = second.querySelector("label").innerText;
        // Check if the two rows should switch place:
        if (x.toLowerCase() > y.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
      if (shouldSwitch) {
        /* If a switch has been marked, make the switch
        and mark that a switch has been done: */
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
      }
    }
  }
  function sortDescendingTableCategory() {
    var table, rows, switching, i, x, y, shouldSwitch;
    table = document.getElementById("foodTable");
    switching = true;
    /* Make a loop that will continue until
    no switching has been done: */
    while (switching) {
      // Start by saying: no switching is done:
      switching = false;
      rows = table.rows;
      /* Loop through all table rows (except the
      first, which contains table headers): */
      for (i = 1; i < rows.length - 1; i++) {
        // Start by saying there should be no switching:
        shouldSwitch = false;
        /* Get the two elements you want to compare,
        one from current row and one from the next: */
        first = rows[i].getElementsByTagName("TD")[3];
        x = first.querySelector("label").innerText;
        second = rows[i + 1].getElementsByTagName("TD")[3];
        y = second.querySelector("label").innerText;
        // Check if the two rows should switch place:
        if (x.toLowerCase() < y.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
      if (shouldSwitch) {
        /* If a switch has been marked, make the switch
        and mark that a switch has been done: */
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
      }
    }
  }
  function sortAscendingTablePrice() {
    var table, rows, switching, i, x, y, shouldSwitch;
    table = document.getElementById("foodTable");
    switching = true;
    /* Make a loop that will continue until
    no switching has been done: */
    while (switching) {
      // Start by saying: no switching is done:
      switching = false;
      rows = table.rows;
      /* Loop through all table rows (except the
      first, which contains table headers): */
      for (i = 1; i < rows.length - 1; i++) {
        // Start by saying there should be no switching:
        shouldSwitch = false;
        /* Get the two elements you want to compare,
        one from current row and one from the next: */
        first = rows[i].getElementsByTagName("TD")[5];
        x = parseInt(first.querySelector("label").innerText);
        second = rows[i + 1].getElementsByTagName("TD")[5];
        y = parseInt(second.querySelector("label").innerText);
        // Check if the two rows should switch place:
        if (x > y) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
      if (shouldSwitch) {
        /* If a switch has been marked, make the switch
        and mark that a switch has been done: */
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
      }
    }
  }
  function sortDescendingTablePrice() {
    var table, rows, switching, i, x, y, shouldSwitch;
    table = document.getElementById("foodTable");
    switching = true;
    /* Make a loop that will continue until
    no switching has been done: */
    while (switching) {
      // Start by saying: no switching is done:
      switching = false;
      rows = table.rows;
      /* Loop through all table rows (except the
      first, which contains table headers): */
      for (i = 1; i < rows.length - 1; i++) {
        // Start by saying there should be no switching:
        shouldSwitch = false;
        /* Get the two elements you want to compare,
        one from current row and one from the next: */
        first = rows[i].getElementsByTagName("TD")[5];
        x = parseInt(first.querySelector("label").innerText);
        second = rows[i + 1].getElementsByTagName("TD")[5];
        y = parseInt(second.querySelector("label").innerText);
        // Check if the two rows should switch place:
        if (x < y) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
      if (shouldSwitch) {
        /* If a switch has been marked, make the switch
        and mark that a switch has been done: */
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
      }
    }
  }
  $(document).ready(function () {
    console.log("ready!");
    $(".itemName").dblclick(function () {
      const input = $(this).siblings();
      input.attr("hidden", false);
      input.focusin();
      $(this).attr("hidden", true);
    });
    $(".inputItemName").focusout(function () {
      const label = $(this).closest("td").find("label");
      label.text($(this).val());
      label.attr("hidden", false);
      $(this).attr("hidden", true);
    });
    $(".itemCategory").dblclick(function () {
      const input = $(this).siblings();
      input.attr("hidden", false);
      input.focusin();
      $(this).attr("hidden", true);
    });
    $(".selectItemCategory").focusout(function () {
      const label = $(this).closest("td").find("label");
      label.text($(this).val());
      label.attr("hidden", false);
      $(this).attr("hidden", true);
    });
    $(".itemPrice").dblclick(function () {
      const input = $(this).siblings();
      input.attr("hidden", false);
      input.focusin();
      $(this).attr("hidden", true);
    });
    $(".inputItemPrice").focusout(function () {
      const label = $(this).closest("td").find("label");
      label.text($(this).val());
      label.attr("hidden", false);
      $(this).attr("hidden", true);
    });
    $(".itemDescription").dblclick(function () {
      const input = $(this).siblings();
      input.attr("hidden", false);
      input.focusin();
      $(this).attr("hidden", true);
    });
    $(".textareaItemDescription").focusout(function () {
      const label = $(this).closest("td").find("label");
      label.text($(this).val());
      label.attr("hidden", false);
      $(this).attr("hidden", true);
    });
    $(".itemImage").dblclick(function () {
      const input = $(this).siblings();
      input.attr("hidden", false);
      input.focusin();
      $(this).attr("hidden", true);
    });
    $(".inputItemImage").change(function () {
      const file = this.files[0];
      const reader = new FileReader();

      const imagePreview = $(this).closest("td").find("img");
      reader.onload = function (e) {
        imagePreview.attr("src", e.target.result);
        imagePreview.attr("hidden", false);
      };

      reader.readAsDataURL(file);
    });
    $(".edit").click(function () {
      if (confirm("Are you sure you want to edit the data?")) {
        const fileInput = $(this).closest("tr").find("td:eq(1)").find("input");
        const file = fileInput.prop("files")[0];

        const formData = new FormData();
        formData.append(
          "foodId",
          $(this).closest("tr").find("td:eq(0)").text()
        );
        formData.append(
          "foodName",
          $(this).closest("tr").find("td:eq(2)").find("label").text()
        );
        formData.append(
          "foodCategory",
          $(this).closest("tr").find("td:eq(3)").find("label").text()
        );
        formData.append(
          "foodPrice",
          $(this).closest("tr").find("td:eq(5)").find("label").text()
        );
        formData.append(
          "foodDescription",
          $(this).closest("tr").find("td:eq(4)").find("label").text()
        );
        formData.append("image", file); // Add the file to the form data

        $.ajax({
          url: "http://127.0.0.1:5000/modifyFoodItem",
          type: "POST",
          data: formData, // Use the form data as the request data
          processData: false, // Prevent jQuery from processing the data
          contentType: false, // Prevent jQuery from setting the content type
          success: function (response) {
            console.log(response);
            alert(response);
          },
          error: function (error) {
            console.log(error);
          },
        });
      }
    });

    $(".confirm").click(function () {
      const button = $(this).closest("td").find("button:gt(0)");
      button.attr("hidden", false);
      $(this).attr("hidden", true);
      alert(
        "Order ID " +
          $(this).closest("tr").find("td:eq(0)").text() +
          " confirm!"
      );
    });

    $(".delete").click(function () {
      if (confirm("Are you sure you want to delete the food item?")) {
        const thisRow = $(this).closest("tr");
        $.ajax({
          url: "http://127.0.0.1:5000/deleteFoodItem",
          type: "POST",
          data: {
            foodId: $(this).closest("tr").find("td:eq(0)").text(),
          },
          success: function (response) {
            console.log(response);
            thisRow.remove();
            const toastBootstrap =
              bootstrap.Toast.getOrCreateInstance(toastLiveExample);
            toastBootstrap.show();
          },
          error: function (error) {
            console.log(error);
          },
        });
      }
    });
    $('.sort').click(function(){
      $(this).siblings().attr("hidden", false);
      $(this).attr("hidden", true);
    })
  });
</script>

<div class="container dashboard-container">
  <!-- Tabs Navigation -->
  <ul class="nav nav-tabs mb-3" id="dashboardTabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link active"
        id="menu-tab"
        data-bs-toggle="tab"
        href="#menu"
        role="tab"
        aria-controls="menu"
        aria-selected="true"
      >
        Manage Menu
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="orders-tab"
        data-bs-toggle="tab"
        href="#orders"
        role="tab"
        aria-controls="orders"
        aria-selected="false"
      >
        Process Orders
      </button>
    </li>
  </ul>

  <!-- Tabs Content -->
  <div class="tab-content" id="dashboardTabsContent">
    <!-- Manage Menu Content -->
    <div
      class="tab-pane fade show active"
      id="menu"
      role="tabpanel"
      aria-labelledby="menu-tab"
    >
      <!-- Manage Menu Section -->
      <div class="d-flex justify-content-end mb-3">
        <a href="http://127.0.0.1:5000/addFoodItem"
          ><button class="btn btn-primary mb-3">Add New Dish</button></a
        >
      </div>
      <!-- Table for menu items -->
      <!-- Table for menu items -->
      <table id="foodTable" class="table table-hover">
        <thead>
          <tr>
            <th>Image</th>
            <th>
              Dish Name
              <i class="fas fa-sort-up sort-icon ascending sort" onclick="sortAscendingTableName()"></i>
              <i class="fas fa-sort-down sort-icon descending sort" onclick="sortDescendingTableName()" hidden></i>
            </th>
            <th>
              Category
              <i class="fas fa-sort-up sort-icon ascending sort" onclick="sortAscendingTableCategory()"></i>
              <i class="fas fa-sort-down sort-icon descending sort" onclick="sortDescendingTableCategory()" hidden></i>
            </th>
            <th>Description</th>
            <th>
              Price
              <i class="fas fa-sort-up sort-icon ascending sort" onclick="sortAscendingTablePrice()"></i>
              <i class="fas fa-sort-down sort-icon descending sort" onclick="sortDescendingTablePrice()" hidden></i>
            </th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <!-- Sample menu items -->
          {%if foods%} {% for item in foods %}

          <tr>
            <td hidden>{{item.id}}</td>
            <td>
              <img
                src="{{url_for('static', filename=item.image)}}"
                alt="{{item.image}}"
                class="itemImage"
                width="50"
                height="50"
              /><input type="file" class="inputItemImage" hidden />
            </td>
            <td>
              <label class="itemName">{{item.name}}</label
              ><input
                type="text"
                class="inputItemName"
                value="{{item.name}}"
                hidden
              />
            </td>
            <td>
              <label class="itemCategory">{{item.category}}</label
              ><select class="selectItemCategory" hidden>
                <option>Japanese Food</option>
                <option>Thai Food</option>
                <option>Fast Food</option>
                <option>Chinese Food</option>
              </select>
            </td>
            <td>
              <label class="itemDescription">{{item.description}}</label
              ><textarea class="textareaItemDescription" cols="100%" hidden>
{{item.description}}</textarea
              >
            </td>
            <td>
              $<label class="itemPrice">{{item.price}}</label
              ><input
                type="number"
                class="inputItemPrice"
                min="0"
                step="0.01"
                value="{{item.price}}"
                hidden
              />
            </td>
            <td>
              <button class="btn btn-sm btn-warning edit">Edit</button>
              <button id="delete" class="btn btn-sm btn-danger delete">
                Delete
              </button>
            </td>
          </tr>
          {%endfor%} {% endif %}
          <!-- Add more menu items as needed -->
        </tbody>
      </table>
    </div>
    <!-- Process Orders Section -->
    <div
      class="tab-pane fade"
      id="orders"
      role="tabpanel"
      aria-labelledby="orders-tab"
    >
      <div class="mb-5">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Order ID</th>
              <th>Customer Name</th>
              <th>Ordered Dishes</th>
              <th>Total Price</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <!-- Sample order details -->
            {% for order in orderFoods %} {%for customerOrder in order.food%}
            <tr>
              <td>{{customerOrder.orderId}}</td>
              <td>
                {%for user in customers%}{%if user.id ==
                order.customer%}{{user.name}}{%endif%}{%endfor%}
              </td>
              <td>
                {%for food in customerOrder.orderFood%} {%for item in foods%}
                {%if item.id == food.foodId%}
                <p>{{item.name}} x {{food.quantity}}</p>
                {%endif%} {%endfor%} {%endfor%}
              </td>
              <td>${{customerOrder.total}}</td>
              <td>
                <span class="badge bg-warning text-dark"
                  >{{customerOrder.status}}</span
                >
              </td>
              <td>
                {%if customerOrder.status != 'confirm'%}
                <button class="btn btn-sm btn-success confirm">Confirm</button>
                <button
                  class="btn btn-sm btn-success setDeliveryPerson"
                  onclick="deliveryOrder({{customerOrder.orderId}}, {%for user in customers%}{%if user.id == order.customer%}'{{user.id}}'{%endif%}{%endfor%})"
                  hidden
                >
                  Set delivery person
                </button>
                {%endif%}
                <button class="btn btn-sm btn-danger">Cancel</button>
              </td>
            </tr>
            {%endfor%} {%endfor%}
            <!-- Add more orders as needed -->
          </tbody>
        </table>
      </div>
    </div>

    <!-- Interact with Customers Section -->
    <div
      class="tab-pane fade"
      id="interact"
      role="tabpanel"
      aria-labelledby="interact-tab"
    >
      <div class="mb-3">
        <label for="customerSelect" class="form-label">Select Customer:</label>
        <select class="form-select" id="customerSelect">
          <option selected>Choose a customer...</option>
          <option value="1">John Doe</option>
          <!-- Add more customers as needed -->
        </select>
      </div>
      <div class="mb-3">
        <label for="messageBox" class="form-label">Message:</label>
        <textarea class="form-control" id="messageBox" rows="3"></textarea>
      </div>
      <button class="btn btn-primary">Send Message</button>
    </div>
  </div>
  <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div
      id="liveToast"
      class="toast"
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
    >
      <div class="toast-header">
        <strong class="me-auto">Menu</strong>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="toast"
          aria-label="Close"
        ></button>
      </div>
      <div class="toast-body">The food has been deleted to the menu.</div>
    </div>
  </div>

  <!-- Include Bootstrap JS and Popper.js for interactive components -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
    crossorigin="anonymous"
  />
</div>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
  crossorigin="anonymous"
></script>
<script>
  const toastLiveExample = document.getElementById("liveToast");
  const urlParams = new URLSearchParams(window.location.search);
  const id = urlParams.get("id");
</script>
{% endblock %}
