{% extends "menu.html" %} {% block title %}Checkout Page{% endblock %}
{%block content %}
<table>
    <tr>
        <th>orderId</th>
        <th>orderFood</th>
        <th>Price</th>
        <th>status</th>
        <th>deliveryAddress</th>
        <th>orderDate</th>
    </tr>
    <tr>
        <td>{{order.orderId}}</td>
        <td>
            {%for food in order.orderFood%}
            {%for item in foods%}
            {%if item.id == food.foodId%}
            <p>{{item.name}} x {{food.quantity}}</p>
            {%endif%}
            {%endfor%}
            {%endfor%}
        </td>
        <td>${{order.total}}</td>
        <td>{{order.status}}</td>
        <td>{{order.deliveryAddress}}</td>
        <td>{{order.orderDate}}</td>
    </tr>    
</table>
{% for deliveryPerson in deliveryPersons %}
<from>
    <input type="text" id="orderId" name="orderId" value="{{order.orderId}}" hidden>
    <input type="text" id="deliveryPersonId" name="deliveryPersonId" value="{{deliveryPerson.id}}" hidden>
    <label>{{deliveryPerson.name}}</label>
    <label>{{deliveryPerson.email}}</label>
    <label>{{deliveryPerson.phone}}</label>
    <input type="submit" value="deliveryPerson" onclick="selectDeliveryPerson({{deliveryPerson.id}}, {{order.orderId}})">
</from><br>
{% endfor %}
{% endblock %}