{% extends "menu.html" %} 
{% block title %}User Profile{% endblock %}

{% block content %}
{% if tab == "customer"%}
    <h1>{{ customerName }}'s Profile</h1>
    <p><strong>ID:</strong> {{ id }}</p>
    <p><strong>Email:</strong> {{ customerEmail }}</p>
    <p><strong>Phone:</strong> {{ customerPhone }}</p>
    <p><strong>Address:</strong> {{ customerAddress }}</p>
{% elif tab == "restaurant" %}
{% elif tap == "deliveryPersonnel" %}
{% endif %}
    <!-- Add more content here based on the tab -->
{% endblock %}
// END: user-profile